// global selectors (*, html, body)

@use "_variables" as v;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 0.0694vw;
}

body {
    font-family: v.$font-family;
    font-weight: 400;
    color: v.$text-and-deco-color
}

img {
    display: block;
}



