@use "_variables" as v;



.logo, .footer-logo {
    width: 11.82vw;
}

.hero-image-container__image, .about-image-container__image {
    width: 50vw;
}

.point-container__image {
    width: v.$little-square-image-width;
}

.horse-riding-service-card__image, .horse-card__image, .team-card__image, .instagram-post-container__img {
    width: v.$medium-square-image-width;
}

.beginners-school-service-card__image, .sport-school-service-card__image {
    width: v.$rect-image-width;
}

.faq-card__pop-up-button {
    width: 2.22vw;
}

.sm-logo {
    width: 2.78vw;
}