@use "_variables" as v;

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.logo, .footer-logo {
    width: 11.82vw;
}

.hero-image-container__image, .about-image-container__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.point-container__image {
    width: v.$little-square-image-width;
    margin-bottom: 29rem;
    border-radius: 50%;
}

.feedbacks-container__image {
    width: 39.58vw;
}

.horse-riding-service-card__image, .horse-card__image, .team-card__image {
    width: v.$medium-square-image-width;
}

.beginners-school-service-card__image, .sport-school-service-card__image {
    width: v.$rect-image-width;
}

.team-card__image {
    border-radius: 50%;
}

.faq-card__pop-up-icon {
    width: 2.22vw;
}

.instagram-post-container__img {
    margin: 0 15rem;
    width: v.$medium-square-image-width;
}

.sm-logo {
    width: 2.78vw;
}

