@use "_variables" as v;

// header, it’s navigation, content area and footer
// display, width, paddings, margins etc


.page {
    overflow: visible;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 2.292vw 2.78vw; 
    justify-content: space-between;
    background-color: v.$nav-and-cards-bg-color;
}

.navbar-container {
    margin-right: 1.85vw;
    display: flex;
}

.hero-block-container {
    display: flex;
}

.hero-text-container {
    padding: 200.5rem 116rem 200.5rem 136rem;
    background-color: v.$primary-bg-color;
    width: 50vw;
}

.about-container {
    display: flex;
}

.about-text-container {
    padding: 167rem 135rem 167rem 116rem;
    background-color: v.$primary-bg-color;
    width: 50vw;
}


.about-image-container, .hero-image-container  {
    display: flex;
}

.usp-container, .feedback-container, .faq-container, .cta-container, .contacts-container, .instagram-posts-container{
    padding: v.$basic-container-padding;
}

.usp-container, .team-container {
    display: flex;
    flex-direction: column;
}

.heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 58rem;
}

.points-container {
    display: flex;
    justify-content: space-between;
}

.point-container {
    width: 270rem;
}

.feedback-container, .faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: v.$primary-bg-color;
}

.feedbacks-frame {
    background-color: #fff;
    border-radius: 25rem;
    padding: 8rem 30rem;
}

.horse-riding-container, .horses-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horse-riding-container, .horses-container {
    padding: 58rem 135rem 0;
}

.horse-riding-cards-container, .horses-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.horse-riding-service-card, .horse-card {
    width: 370rem;
    margin-bottom: 58rem;
}

.horse-riding-service-card__text-container, .horse-card__text-container, .team-card__text-container {
    padding: 30rem 33rem;
}

.horse-riding-service-card__text-container {
    height: 327.02rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: v.$nav-and-cards-bg-color;
}

.horse-riding-service-card__button-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.beginners-school-container, .sport-school-container {
    display: flex;
    flex-direction: column;
}

.beginners-school-container {
    padding: 0 135rem;
}

.sport-school-container {
    padding: 0 135rem;
}

.beginners-school-cards-container, .sport-school-cards-container, .team-cards-container {
    display: flex;
    justify-content: space-between;
}

.beginners-school-service-card, .sport-school-service-card {
    width: 570rem;
    padding-bottom: 58rem;
    &__text-container {
        padding: 30rem 33rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: v.$nav-and-cards-bg-color;
    }
    &__button-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
}

.beginners-school-service-card__text-container {
    height: 283rem;
}

.sport-school-service-card__text-container {
    height: 224rem;
}

.horses-container {
    background-color: v.$primary-bg-color;
}

.horse-card__text-container {
    background-color: v.$secondary-bg-color;
    height: 346rem;
}

.seventh-horse-card-container {
    display: flex;
    justify-content: center;
}

.team-container {
    padding: 58rem 235rem;
}

.team-card {
    width: 370rem;
}

.team-card__text-container {
    height: 350rem;
}

.team-card__image {
    border-radius: 450px;
}

.faq-card {
    width: 570rem;
    background-color: #fff;
    margin-bottom: 15rem;
    &:nth-child(8) {
        margin-bottom: 0;
    }
}

.faq-card__preview-container {
    background-color: v.$nav-and-cards-bg-color;
    padding: 30rem 33rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.4s;
}

.faq-card__preview-container:hover{
    background-color: v.$secondary-bg-color;
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
}

.active {
    background-color: v.$secondary-bg-color;
}

.faq-card__pop-up-text-container {
    padding: 0 33rem 33rem;
    display: none;
    overflow: hidden;
    background-color: v.$secondary-bg-color;;
}

.cta-container {
    background-color: v.$accent-color;
    padding: 79rem 335rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: v.$secondary-bg-color;
}

.location-container__info-container {
    display: flex;
}

.location-container__info-container {
    padding: 0 135rem;
    & .p2 {
        width: 570rem;
    }
}

.location-container {
    padding: 58rem 0;
}

.location-container__map-embed {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    & iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}
 
.contacts-container {
    background-color: v.$primary-bg-color;
    & .heading-container {
        margin-bottom: 29rem;
    }
    &__sub-container {
        display: flex;
    }
    &__write-container {
        width: 570rem;
        display: flex;
        justify-content: flex-end;
        margin-right: 30rem;
    }
    &__call-container {
        width: 570rem;

    }
    
}





// find out proportions for imgs border radius
// fix the width of images in about and hero sections
// make icons rotate while opening faq
// make size of icons in faq responsive