@use "_variables" as v;

// header, it’s navigation, content area and footer
// display, width, paddings, margins...


.page {
    overflow: visible;
}

.header {
    position: sticky;
    top: 0;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 2.292vw 2.78vw; 
    justify-content: space-between;
    background-color: v.$nav-and-cards-bg-color;
}

.navbar-container {
    margin-right: 1.85vw;
    display: flex;
}

.hero-block-container {
    display: flex;
}

.hero-text-container {
    padding: 200.5rem 116rem 200.5rem 136rem;
    background-color: v.$primary-bg-color;
    
}






// main container > *: padding: 4.03vw 0;