@use 'variables' as v;

@font-face {
  font-family: v.$font-family;
  src: url('/fonts/Raleway-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: v.$font-family;
  src: url('/fonts/Raleway-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
    font-family: v.$font-family;
    src: url('/fonts/Raleway-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600; 
}

.header-navbar-link {
  font-size: v.$header-navbar-link;
  text-decoration: none;
  color: v.$text-and-deco-color;
}

.contacts-button-container__contacts-button {
  font-size: v.$header-navbar-link;
  text-decoration: none;
  color: v.$accent-color;
}

.hero-text-container {
  &__h1 {
    font-size: v.$h1-font-size;
  }
  &__contacts-button {
    font-size: v.$p1-font-size;
    &:link {
      color: white;
    }
    &:visited{
      color: white;
    }
    &:hover, &:focus {
      text-decoration: none;
    } 
  }
}

.p1 {
  font-size: v.$p1-font-size;
  line-height: 140.6%;
}

.h2 {
  font-size: v.$h2-font-size;
  font-weight: 400;
}

p a, .contacts-container__write-container a {
  &:link {
    color: v.$accent-color;
  }
  &:visited{
    color: v.$text-and-deco-color;
  }
  &:hover, &:focus {
    text-decoration: none;
  }
}

.h3 {
  font-size: v.$h3-font-size;
  font-weight: 400;
}

.p2 {
  font-size: v.$p2-font-size;
  line-height: 135.9%;
}

ul {
  font-size: v.$p2-font-size;
  line-height: 135.9%;
  padding-left: 1.39vw;
  margin: 0;
}

strong {
  font-weight: 600;
}

.service-card-button {
  font-size: v.$p2-font-size;
  &:link {
    color: white;
  }
  &:visited{
    color: white;
  }
  &:hover, &:focus {
    text-decoration: none;
  }
}

.faq-card__h2 {
  font-size: v.$faqs-h2-font-size;
  font-weight: 400;
}

.cta-container__h2 {
  font-size: v.$h2-font-size;
  line-height: 140.6%;
  &:nth-child(1) {
    font-weight: 500;
  }
  &:nth-child(2) {
    font-weight: 400;
  }
  &__contacts-button {
    font-size: v.$p1-font-size;
  }
}

.footer-nav-link {
  font-size: v.$footer-navbar-link;
  text-decoration: none;
  color: v.$text-and-deco-color;
}

.copyright {
  font-size: v.$copyright-font-size;
}





// Add margins

// Add different formats to font to ensure crossbrowser, format('ttf') - is not working in chrome
// src: url("DejaWeb-Bol.eot") format('embedded-opentype'), /* EDIT correction on this line */
// url('DejaWeb-Bol.woff') format('woff'), /* Modern Browsers */
// url('DejaWeb-Bol.ttf') format('truetype'), /* Safari, Android, iOS */
// url('DejaWeb-Bol.svg#Dejaweb') format('svg'); /* Legacy iOS; correction on this line */


// @use "sass:list";
// @use "sass:map";

// https://www.internetingishard.com/html-and-css/web-typography/

//  for $i from 1 through 6 {
//  h#{$i}  {
//  font-family: v.$font-family-headings;
//  font-size: map.get(list.nth(v.$heading-styles, $i), "size");
//  line-height: map.get(list.nth(v.$heading-styles, $i), "height")
//  }
// }