@use 'variables' as v;

@font-face {
  font-family: v.$font-family;
  src: url('/fonts/Raleway-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: v.$font-family;
  src: url('/fonts/Raleway-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
    font-family: v.$font-family;
    src: url('/fonts/Raleway-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600; 
}
  




// Add different formats to font to ensure crossbrowser, format('ttf') - is not working in chrome
// src: url("DejaWeb-Bol.eot") format('embedded-opentype'), /* EDIT correction on this line */
// url('DejaWeb-Bol.woff') format('woff'), /* Modern Browsers */
// url('DejaWeb-Bol.ttf') format('truetype'), /* Safari, Android, iOS */
// url('DejaWeb-Bol.svg#Dejaweb') format('svg'); /* Legacy iOS; correction on this line */

// a, h1, ul

// & instead of parent

// nesting {}

// a {
//     &:link, &:visited {
//         ---
//     }
//     &:hover, &:focus {
//         ---
//     }
//     &:active{

//     }
// }





// @use "sass:list";
// @use "sass:map";

// https://www.internetingishard.com/html-and-css/web-typography/

//  for $i from 1 through 6 {
//  h#{$i}  {
//  font-family: v.$font-family-headings;
//  font-size: map.get(list.nth(v.$heading-styles, $i), "size");
//  line-height: map.get(list.nth(v.$heading-styles, $i), "height")
//  }
// }