// Color Scheme

$nav-and-cards-bg-color: #FAFAFA !default;
$primary-bg-color: #EDEAE6 !default;
$secondary-bg-color: #FFFFFF !default;
$text-and-deco-color: #2B1600 !default;
// Links, buttons, background of cta section, logo in footer:
$accent-color: #07941E !default;

// Typography

$font-family: "Raleway" !default;

$h1-font-size: 2.71wv !default;
$h2-font-size: 2.22wv !default;
$h3-font-size: 1.46wv !default;
$faqs-h2-font-size: 1.94wv !default;

$p1-font-size: 1.46wv !default;
$p2-font-size: 1.04wv !default;
$feedbacks-p-font-size: 1.25wv !default;
$copyright-font-size: 0.97wv !default;

$header-navbar-link: 1.25wv !default; 
$footer-navbar-link: 0.97wv !default;




// To do:

// - $mobile-breakpoint
// - $container-max-width